.section__title-client {
    color: $color-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.clients {
    display: flex;

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.clients__item {
    width: 170px;
    height: 92px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
    }
}

.clients__link {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: $logo-clients;
    transition: color 250ms $timing-function;

    &:hover, 
    &:focus {
    border-color: $hover-collor-text;
    color: $hover-collor-text;
}
}

.clients__icon {
    fill: currentColor;
}
