.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../images/фон\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.main-section {
    background-color: $background-color;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .main-section__title {
    color: $title-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.16;
    text-align: center;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
}
.main-section__button {
    color: $title-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    background: $hover-collor-text;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border: transparent;
    border-radius: 4px;

    &:hover, 
    &:focus {
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

}

.section__hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.advantages {
    display: flex;
    
    @media screen and (min-width: 480px) {
        display: block;
      }
    @media screen and (min-width: 768px) {
        display: flex;
        /*flex-wrap: wrap;*/
      }
      @media screen and (min-width: 1200px) {
        display: flex;
      }
}
.advantages__container {
    display: flex;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: $background-team;
}
.advantages__icon {
    width: 70px;
    height: 70px;
}
.advantages__title {
    color: $color-text;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: 767px) {
        text-align: center;
      }
}
.advantages__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
.advantages__text {
    color: $color-text-header;
    font-size: 14px;
    line-height: 1.71;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.section--no--padding__top {
    padding-top: 0;
    @media screen and (max-width: 480px) {
        display: none;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
}

.section__title {
    color: $color-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
.work-list {
    list-style-type: none;
    display: flex;
    position: relative;
}
.work-list__item {
    margin-right: 30px;
    position: relative;
}
.work-list__text {
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    color: $title-color;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 70px;
}
.section-team {
    background-color: $background-team;
}
.section__title {
    color: $color-text;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 50px;
}
.team {
    @media screen and (min-width: 1200px) {
        list-style-type: none;
        display: flex;
    }
    
    @media screen and (max-width: 480px) {
        display: block;
        align-items: center;
      }
}
.team__item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $title-color;

    &:last-child {
        margin-right: 0;
    }
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__title {
    color: $color-text;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}
.team__text {
    color: $color-text-header;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.19;
}
.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.social-network__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.social-network__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $logo-clients;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $hover-collor-text;
        color:  $title-color;
    }
}
.social-network__icon {
    fill: currentColor;
}