
.menu_button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu_button .icon-cross {
  display: none;
}
.menu_button.is-open .icon-cross {
  display: block;
}

.menu_button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: none;
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  

  &.is-open {
    display: block;
  }
}
